@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Change background to white */
  overflow: hidden;

  .dvd-logo-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;

    .dvd-logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      animation: dvd-move 10s infinite linear;
    }
  }

  .centered-content {
    position: relative;
    z-index: 2;
    color: #4B8BBE; // Same color as the Python logo
    text-align: center;
    font-family: 'Poppins', sans-serif; // Example of a modern font
    transform: translate(-150%, -50%); // Move slightly left and up
    padding: 30px; // Add some padding inside the box
  
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      font-weight: 700; // Bold font-weight for the h1
      color: #4B8BBE; // Apply the same color here
    }

    h2 {
      font-size: 2rem;
      font-weight: 500; // Slightly less bold than h1
      color: #4B8BBE; // Apply the same color here
      margin-top: 0;
    }
  
    .btn {
      display: inline-block;
      padding: 10px 30px;
      background-color: #4B8BBE; // Same color as the Python logo
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: 400; // Regular font-weight for the button
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #3A7BA7; // A slightly darker shade for hover effect
      }
    }

    .typing-effect {
      font-size: 2rem;
      font-weight: 500;
      color: #4B8BBE;
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid #4B8BBE;
      animation: typing 3s steps(30, end) infinite, blink-caret 0.75s step-end infinite;
    }
  }  

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #4B8BBE }
  }

}
